$color1: #3c6888;
$color2: #5C84A1;
$color3: lighten($color2,10%);
$color4: #92a4ad;
$color5: #c75c28;
$color6: darken(white,8%);//#ffd54f;//brown;//rgba(lime,.2 );
$color_font1:black;
$color_font2:darken(white,20%);
$body_color:lighten($color5, 30%);

.brand-neutral {
  background-color: $color4;

}

.brand1 {
  background-color: $color1;
  //@extend .indigo,.lighten-1;
}

.brand2 {
  background-color: $color2;
}

.brand3 {
  background-color: $color3;
}

.brand-font {
  color: $color_font1;
}
.brand-font2 {
  color: $color_font2;
}
.brand-font3 {
  color: $color5;
}

.brand-background {
  background-color: $body_color;
}

$primary-color: $color1;
$secondary-color: $color2;
$link-color: $color_font1;

$tabs-underline-color: $color5;
$tabs-text-color: $color_font1;
