@import "settings";
@import "materialize/sass/materialize";


//c66120



body {

  //background-image: url("/img/background-1201003_960_720.jpg");
}

#spider
{
  position:absolute;
  height:100px;
  width:100px;
  right:0;
  top:70px;
  z-index:-1;

  //@extend .right;
}
#logo {
  height: 50px;
  width: 300px;
  padding-top: 10px;
}

.collection .collection-item {
  border-bottom: 1px solid black;

}

.collapsible-header {
  img {
    width: 20px;
    height: 20px;
  }

  border-bottom: 1px solid black;
}

.collapsible-body {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid black;
}

#row1
{
  z-index:2;
  //position: absolute;
  //width:100%;
  color:$color5;

}


#row2
{
  z-index:1;

  position: absolute;
  img
  {
    width:30px ;
    height:30px;
  }
}

#m4,#m5,#m6 {
  @extend .brand-neutral;
}


#logoContainer {
  background: rgba($color1, .5); //linear-gradient(to right, rgba( #5C84A1, .2 ), rgba( #5C84A1, .2));
  //border-radius: 10px;
  //opacity: 0.5;
  img {
    padding: 0;
  }
}

#bg-image {
  position: absolute;
  top: 64px;
  opacity: 0.8;
  z-index: -1;
  left: 5%;
  width: 60%;
  height: 40%;
}

#bg-raw {
  background-color: black;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  width: 100%;
  //left:30%;
  height: 33%;
  bottom: 0;
  border-radius: 5px;
}

#spacer {
  height: 300px;
  padding:100px;
}


#mainHeader {
  margin-top: 0px;
}

#m1 {

  .links {

    background-image: url("/img/bg09.jpg");

  }
}

#m2 {

  .links {

    background-color: $color3;
    //background-image: url("/img/spiderweb-29368_960_720.png");

  }

}

#m3 {

  .links {

    background-image: url("/img/bulb-40701_960_720.png");

  }

}

.links {
  /* @extend .center;*/
  //border-radius: 20px;
  height: 250px;
  //padding-top: 20px !important;
  background-repeat: no-repeat;
  //@extend .brand-neutral;
  background-size: 100% 100%;

  img
  {
    height:100%;
    width:100%;
  }
  p {
    padding: 5px 10px 10px 10px;
  }
;
}

#linkbottom {
  @extend .brand-neutral;
  height: 10px;
}

.main {
  bottom: 10px;
}




.page-footer {
  color: $color_font2;


}

#modal1 {
  @extend .brand1;
  height: 800px;
}

.modal-footer {
  @extend .brand-neutral;
}

.modal-content {

  //width:100%;
  //height:100%;
  iframe {

    position: relative;
    height: 500px;
    width: 100%;
    border: 0;
  }
}
