@import "materialize/sass/materialize";
@import "settings";


//c66120

.brand-neutral {
  @extend .blue-grey, .lighten-2;
}

.brand1 {
  background-color: #3c6888;
  //@extend .indigo,.lighten-1;
}

.brand-font {
  color: #3c6888;
}

.brand2 {
  background-color: #5C84A1;
}

.brand2-alt {
  @extend .blue;
}

.brand3 {
  background-color: #D49D56;
}

.brand3-alt {
  @extend .teal;
}

.brand-background {
  background-color: lighten(slategrey,20%);
}

body {
  @extend .brand-background;
}

/*.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}*/

/*.card {

  border-radius: 8px;
}

.card-content {

  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card-content a {
  width: 100%;

}

!*.card-content p {
     border-radius: 8px;

}*!

.card-image {

  img {

    height: 120px !important;
  }
}*/

#light {
}

#logo {
  height: 50px;
  width: 300px;
  padding-top: 10px;
}

/*#m2, #m3 {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}*/

/*@media only screen and (min-width: $medium-screen-up) {
  #m3 {
    float: right;
  }
}

.collapsible-body {
  padding-top: 15px;
  padding-left: 0px;
  header h5 {
    margin: 0px;
  }

  section {
    padding-bottom: 15px;

  }

  p, blockquote, b {
    padding: 0;
    padding-left: 10px;
  }
}*/

.collection .collection-item {
  border-bottom: 1px solid black;

}

.collapsible-header {
  img {
    width: 20px;
    height: 20px;
  }

  border-bottom: 1px solid black;
}

.collapsible-body {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid black;
}

/*#m1 .card-reveal
{
  font-size: 13px;
}
#m1_content {
  .collapsible-header {
    @extend .brand1;

  }
  .collapsible-body {
    @extend .brand-neutral;
  }
  li {
    @extend .brand-neutral;
  }

}

#m2_content {
  .collapsible-header {
    @extend .brand2;
  }
  .collapsible-body {
    @extend .brand-neutral;
  }
  li {
    @extend .brand-neutral;
  }

}

#m3_content {
  .collapsible-header {
    @extend .brand3;
  }
  .collapsible-body {
    @extend .brand-neutral;
  }
  li {
    @extend .brand-neutral;
  }

}*/

#logoContainer
{
  background: rgba( #5C84A1, .2 );//linear-gradient(to right, rgba( #5C84A1, .2 ), rgba( #5C84A1, .2));
  //border-radius: 10px;
  //opacity: 0.5;
  img
  {
    padding:0;
  }
}

#bg-image {
  position:absolute;
  top:64px;
  opacity: 0.5;
  z-index: -1;
  left:5%;
  width: 60%;
  height:40%;
}
#bg-raw {
  background-color: black;
  position:absolute;
  opacity: 0.7;
  z-index: -1;
  width: 100%;
  //left:30%;
  height:33%;
  bottom:0;
  border-radius: 5px;
}
#spacer
{
  height:300px;
}

#mainHeader {
  margin-top: 0px;
}

#m1 {


  .links
  {

    background-image: url("/img/bg09.jpg");

  }
}

#m2 {

  .links
  {

    background-image: url("/img/web-development-outline_crop.jpg");

  }

}

#m3 {

  .links
  {

    background-image: url("/img/bulb-40701_960_720.png");

  }


}

.links {
 /* @extend .center;*/
  //border-radius: 20px;
  height: 250px;
  //padding-top: 20px !important;
  background-repeat:no-repeat;
  //@extend .brand-neutral;
  background-size: 100% 100%;
  color:#c66120;
  p {
    padding: 5px 10px 10px 10px;
  };
}
#linkbottom
{
  @extend .brand-neutral;
  height:10px;
}

.main
{
  bottom:10px;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  @extend .brand1;
  opacity: 0.3;
  p{
    opacity: 1.0;
  }
}

#m1_content {
  .collapsible-header {
    @extend .brand1;

  }
  .collapsible-body {
    @extend .brand-neutral;
  }
  li {
    @extend .brand-neutral;
  }

}

