@import "settings";
@import "materialize/sass/materialize";

//c66120

body {

  //background-image: url("/img/background-1201003_960_720.jpg");
  width: 100%;
  text-align: center;
}

.container {
  width: 100% !important;

}

html {

  background: url("/img/700px-Graduated_Blue_Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //max-width: 1024px;
  width: 100%;
  //background: radial-gradient(circle, black, white);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

footer {

  background-color: transparent !important;
  color: $color_font1;

}

#box1 {
  position: absolute;
  background-color: $color5;
  width: 350px;
  height: 2px;
  right: 18%;
  top: 50px;
  z-index: -2;
}

#spider {
  position: absolute;
  height: 80px;
}

main {
  flex: 1 0 auto;
}

#logo {
  //height: 50px;
  //width: 300px;
  padding-top: 10px;

  //right: 20px;
}

.collection .collection-item {
  border-bottom: 1px solid black;

}

.collapsible-header {
  img {
    width: 20px;
    height: 20px;
  }

  border-bottom: 1px solid black;
}

.collapsible-body {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid black;
}

#row1 {
  z-index: 2;
  //position: absolute;
  //width:100%;
  color: $color5;

}

#row2 {
  z-index: 1;

  position: absolute;
  img {
    width: 30px;
    height: 30px;
  }
}

#m4, #m5, #m6 {
  @extend .brand-neutral;
}

#bg-image {
  position: absolute;
  top: 64px;
  opacity: 0.8;
  z-index: -1;
  left: 5%;
  width: 60%;
  height: 300px;
  max-width: 800px;

  @media #{$small-and-down} {
    height: 20%;
  }

  @media #{$large-and-up} {
    height: 400px;
  }

  @media #{$medium-and-up} {

  }
}

#bg-raw {
  background-color: black;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  width: 100%;
  //left:30%;
  height: 33%;
  bottom: 0;
  border-radius: 5px;
}

#logo-container {
  padding:20px;
  //height: 500px;
  //top:300px;

  //position: absolute;

  /*@media #{$large-and-up} {
    top: 50px;
    right: 30%;

  }

  @media #{$medium-only} {
    top: 20px;
    right: 10%;
  }
  @media #{$small-and-down} {
    top: 20px;
    right: 10px;
  }*/
}

#spacer-top {

  //padding: 100px;

  height: 100px;

}

#spacer {

  height: 150px;
  @media #{$medium-only} {
    height: 50px;
  }

}

#mainpic {
  width: 100%;

  max-height: 450px;
}

.titles {
  margin-bottom: 0px;
  //background-color: $color1;
}

.title1 {
  background-color: $color1;
}

.title2 {
  background-color: $color2;
}

.title3 {
  background-color: $color3;
}

#mainHeader {
  margin-top: 0px;
  color: $color4;
}

.leftright-border {
  border-style: none solid;
  border-width: 4px;
  border-color: $color5;
}

.main-image {
  width: 100%;

  @media #{$large-and-up} {
    height: 170px;

  }
  @media #{$medium-only} {
    height: 150px;
  }
  @media #{$small-and-down} {
    height: 250px;

  }

}


#linkbottom {
  background-color: $color5; // rgba(black, .8);;
  height: 10px;
}

.main {
  bottom: 10px;
}

#modal1 {
  @extend .brand1;
  height: 800px;
}

.modal-footer {
  @extend .brand-neutral;
}

.modal-content {

  //width:100%;
  //height:100%;
  iframe {

    position: relative;
    height: 500px;
    width: 100%;
    border: 0;
  }
}
